@font-face {
    font-family: 'SolaimanLipi';
    src: url('@/assets/fonts/SolaimanLipi_29-05-06.ttf');
}

@font-face {
    font-family: "ShobujNolua";
    src: url("@/assets/fonts/ShobujNolua.ttf");
}