nav{
    width: 100%;
    padding: 13px 0;
    & .logo-container{
        width: 100%;

        & img{
            max-width: 150px;
            width: 100%;
        }
        @media (max-width: $xs){
            display: none;
        }
        @media (min-width: $sm){
            display: none;
        }
        @media (min-width: $lg){
            display: block;
        }
    }

    & .mobile-menu{
        height: 30px;
        width: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: $lg){
            display: none;
        }
        & span{
            display: block;
            height: 2.9px;
            width: 25px;
            background: $btn_secondary;
            border-radius: 10px;
            position: relative;
            &::after{
               content: '';
               position: absolute;
               display: block;
               height: 2.9px;
               width: 25px;
               background: $btn_secondary;
               top: -6px;
               left: 0;
            }
            &::before{
                content: '';
               position: absolute;
               display: block;
               height: 2.9px;
               width: 25px;
               background: $btn_secondary;
               top:     6px;
               left: 0;
            }
        }
    }

    & .nav-links{
        width: 100%;
        height: 100%;
        & ul{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & li{
                list-style: none;
                font-size: 1.1rem;

                & a{
                    color: $nav-link;
                    padding: 0 1rem;
                }
            }
        }
        @media (max-width: $xs){
            display: none;
        }
        @media (min-width: $sm){
            display: none;
        }
        @media (min-width: $lg) {
            display: block;
        }
    }

    & .icons-container{
        width: 100%;
        height: 100%;
        text-align: right;

        & a{
            height: 100%;
            display: inline-block;
            margin-right: 50px;
            & i{
                font-size: 2.2rem;
                color: $nav-icon;
                font-size: 500;
            }
        }
        
    }

    &.sticky{
        box-shadow: 0px 2px 5px rgba(228, 225, 225, 0.1);
    }

   

    // // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) { 

    // }

    // // Large devices (desktops, 992px and up)
    // @media (min-width: 992px) { 

    // }

    // // X-Large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) { 

    //  }

    // // XX-Large devices (larger desktops, 1400px and up)
    // @media (min-width: 1400px) { 
        
    //  }
}