$body: #fcfcfc;
$nav-link: #522b79;
$nav-icon: #ad277c;
$footer: #522b79;
$white: #fff;
$search_card: #ad277c;
$search_box: #522b79;
$btn_primary: #ad277c;
$btn_secondary: #522b79;
$bg_biodata: #522b79;
$btn_ex: #5A0763;
$text_dark: #444;
$text_secondary: #522b79;
$bg_gray: #f7f7f7;
$text_black: #000;
$menu_dark: #141E27;

//breakpoints
$xs: 575.98px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
